<div class="container">

    <div class="row Jeu">        
        
        <div class="col-sm number">
            <h4> {{NumberG}} </h4>
        </div>
        
        <div class="col-sm">
            <button id="G" class="btn btn-primary"> Plus Grand </button>
        </div>

        <div class="col-sm">
            <button id="P" class="btn btn-danger"> Plus Petit </button>
        </div>

        <div class="col-sm">
            <button id="E" class="btn btn-warning"> Egaux </button>
        </div>        
    
    </div>
    
</div>